.botonComprar {
    margin: 0px 50px 50px;
    width: 300px;
    padding: 5px;
    border: none;
    background-color: #006f8b85;
    border-radius: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: 0.5s;
  }
  
  .botonComprar:hover {
    background-color: #006f8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5%);
    transition: 0.5s;
  }