body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "BasicCommercial LT Italic", sans-serif;
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;

  min-height: 100vh;
  max-width: 100%;
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--smonkey-celeste-1)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(0, 0, 0)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
  cursor: pointer;
}

