.section{
  display:grid;
  margin-top: 100px;
  background-color: black;
}

.sectionTitle{
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 40px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}


.div1{

  display: flex;
  position: relative;
  padding-top: 20px;
  flex-direction: column;
}


.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25vh;
  }

.viewButton {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  }
  