.actions-header {
  /* add any necessary styles here */
}

.actions-cell {
  /* add any necessary styles here */
}

.actions-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.edit-box {
  background-color: #388e3c;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 5px;
}

.edit-text {
  color: #f5f5f5;
  margin-left: 5px;
}

.delete-box {
  background-color: red;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px;
}

.delete-icon {
  transform: scale(110%);
}
