.container{
    top: -5vh;
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(2px);
    z-index: -10;
}

.form {
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    align-items: center;
}

.input {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(83, 91, 89);
    font-size: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.colorCont {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.colorContInput {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(83, 91, 89);
    font-size: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-weight: bold;
    width: 48%;
    box-sizing: border-box;
}
.inputColor {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(83, 91, 89);
    font-size: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-weight: bold;
    width: 20%;
    box-sizing: border-box;
}
.inputColorDelete {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(83, 91, 89);
    font-size: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-weight: bold;
    width: 17%;
    box-sizing: border-box;
    border: 1px #414040 solid;
    border-radius: 5px;
    margin: 2px;
}