.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scale: 80%;
  border: 30px;
  border-color: red;
  background-color: black;
}

.container h2{
  color: white;
}

.container p{
  color: white;
}


.currentPrince{
  font-size: 20px;
}