* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  padding: 30px auto;
  color: black;
  align-items: center;
  
}
.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: rgb(255, 255, 255);
  max-width: 900px; 
  margin: 0 auto; 
}

.img {
  border-radius: 3%;
  border: 1px solid black; 
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100%; 
  height: auto;
}


.description{
  flex: 1;
  max-width: 770%;
  margin: 0;
  left: 55%;
}
.select {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
  display: block; 
  margin: 20px auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover {
  background-color: #006f8b;;
  transform: scale(1.1);  
}
.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color:black;
  margin-bottom: 10px; 
}
.price{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color:black;
  margin-bottom: 10px; 
}
.p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .rating .fa-regular {
  color: #ccc;
}

.rating .fa-solid {
  color: gold;
}

.rating .selected .fa-regular,
.rating .selected .fa-solid {
  color: black;
} */












