.content{
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffffff;
    box-shadow: 1px 1px 3px 1px #0000007c;
    z-index: 10;
}
