.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .search {
    display: flex;
    background-color: #1976d2;
    border-radius: 3px;
  }
  
  .search input[type="text"] {
    margin-left: 8px;
    flex: 1;
    background: none;
    border: none;
    color: #fff;
  }
  
  .search button {
    padding: 8px;
    background: none;
    border: none;
    color: #fff;
  }
  
  .icons button {
    padding: 8px;
    background: none;
    border: none;
    color: #333;
  }
  
  .icons button i {
    font-size: 16px;
  }
  